<div class="row justify-content-center">
    <div class="col-md-6 align-center">
        <table class="table table-sm table-bordered table-hover table-striped table-dark">
            <thead>
                <tr>
                    <td>Variable</td>
                    <td>Measuerement</td>
                    <td>Unit</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>TWD</th>
                    <td>{{forecast.TWD}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>HUMIDEX</th>
                    <td>{{forecast.HUMIDEX}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>TWS</th>
                    <td>{{forecast.TWS}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>LOCALTIME</th>
                    <td>{{forecast.LOCALTIME}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>HUMIDITY_IN</th>
                    <td>{{forecast.HUMIDITY_IN}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>WINDCHILL</th>
                    <td>{{forecast.WINDCHILL}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>TEMP_IN</th>
                    <td>{{forecast.TEMP_IN}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>ICON_NOW</th>
                    <td>{{forecast.ICON_NOW}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>ICON_FOR</th>
                    <td>{{forecast.ICON_FOR}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>TEMPERATURE</th>
                    <td>{{forecast.TEMPERATURE}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>TWS_GUST</th>
                    <td>{{forecast.TWS_GUST}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>RAIN</th>
                    <td>{{forecast.RAIN}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>PRESSURE</th>
                    <td>{{forecast.PRESSURE}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>LONGITUDE</th>
                    <td>{{forecast.LONGITUDE}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>ACTIVEON</th>
                    <td>{{forecast.ACTIVEON}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>PRESSURE_TR</th>
                    <td>{{forecast.PRESSURE_TR}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>RAIN_MONTH</th>
                    <td>{{forecast.RAIN_MONTH}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>RAIN_DAY</th>
                    <td>{{forecast.RAIN_DAY}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>HUMIDITY</th>
                    <td>{{forecast.HUMIDITY}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>TIME_STRING</th>
                    <td>{{forecast.TIME_STRING}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>TIME</th>
                    <td>{{forecast.TIME}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>LATITUDE</th>
                    <td>{{forecast.LATITUDE}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>WEATHER_DES</th>
                    <td>{{forecast.WEATHER_DES}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>LAST REQUEST DATE
                    </th>
                    <td>{{ forecast.date | date}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>LAST REQUEST TIME
                    </th>
                    <td>{{ forecast.date | date:'longTime' }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>