<h1>Adding Pages to this project</h1>
<hr class="my-4">

<p>
  As you can see, adding new Pages to this boilerplate is very simple. Just use <em>Angular CLI</em> to create the files:
</p>

<code class="codeblock">ng g component pages/MyAwesomeNewPage -m pages</code>

<p>And add a route in
  <em>src/routes.ts</em>, to reach it:</p>

<code class="codeblock"> {{ '{' }} path: 'osom', component: MyAwesomeNewPageComponent {{ '},' }} </code>

<p>That's it, you can navigate to localhost/osom and see your new page</p>

<hr/>

<a routerLink="/" class="btn btn-brand-color btn-md" role="button"> &lt; Home</a>